<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computer Vision</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main">
        <div class="sub1">
            <h1 class="aa">
                <a href="">sub1</a>
            </h1>
        </div>
        <div class="sub2">
            <h1 class="aa">
                <a href="">sub2</a>
            </h1>
        </div>
        <div class="sub3">
            <h1 class="aa">
                <a href="{{url_for('NPR')}}">sub3</a>
            </h1>
        </div>
    </div>
</body>
</html>
