<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Number Plate Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='NPR.css') }}">
</head>
<body>
    <div class="main">
        <div class="bottom-left">Bottom Left Content
             <a href="{{url_for('NPRImage')}}">sub1</a>
        </div>
        <div class="bottom-right">Bottom Right Content
            <a href="{{url_for('NPRVideo')}}">sub1</a>
        </div>
    </div>
</body>
</html>
